* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e5e6ef;
}

.outer_box {
    position: fixed;
    top: 10%;
    left: 35%;
    pointer-events: auto;
}

.outer_box img {
    width: 540px;
}

.inner_box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 540px;
    background: #fff;
}

.inner_box header {
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.login_form {
    text-align: right;
    margin-right: 195px;
    padding-bottom: 15px;
}

.login_form input {
    height: 25px;
    width: 150px;
    font-size: 15px;
    margin-top: 15px;
}

.submit_btn, .logout , .next_btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    color: #fff;
    background: #a60132;
    border-radius: 5px;
    border: 1px solid #840028;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout_btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.logout:hover, .submit_btn:hover, .next_btn:hover {
    background: #840028;
}

.topics a {
    height: 40px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    width: 520px;
    outline: none;
    border: 1px solid #840028;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #a60132;
}

.topics a:hover {
    background: #840028;
}

.topics_title {
    font-size: 20px;
    font-weight: 600;
    width: 510px;
    text-align: center;
    margin: 15px;
}

 .inner_box .topics {
    padding: 10px;
}

.outer_box .inner_box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.outer_box .inner_box section,
#result_box{
    max-height: 600px;
    overflow-y: scroll;
}

.outer_box .inner_box section .que_text {
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

.outer_box .inner_box .option_list .option {
    font-size: 17px;
    padding: 8px 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 0.3s ease;

}

.outer_box .inner_box .option_list .option .radio_btn {
    cursor: pointer;
}

.outer_box .inner_box .option_list .option .radio_btn.disabled {
    pointer-events: none;
}

.outer_box .inner_box .option_list .option label.disabled {
    pointer-events: none;
}

.outer_box .inner_box .option_list .option label {
    margin-left: 15px;
    cursor: pointer;
}

.option_list .option:hover {
    color: #840028;
}

.outer_box .inner_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.outer_box .inner_box header .timer .time_sec {
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.outer_box .inner_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 45px;
    background: #db99ad;
    border: 1px solid #d28098;
    border-radius: 5px;
    padding: 0 8px;
}

.outer_box .inner_box header .timer .time_text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
[id^='question_'] {
    display: none;
}
[id^='question_'].active_question {
    display: block;
}

[id^='button_'],
#send_result{
    display: none;
}

[id^='button_'].active_button,
#send_result.active_send_result{
    display: block;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 15px;
}

th {
    border: 1px solid grey;
    padding: 5px;
}

td {
    border: 1px solid grey;
    padding: 5px;
}

.second_column {
    width: 170px;
}

.inner_box .title,
.inner_box .user_info {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

.que_image img {
    margin: 15px;
    width: 490px;
}

.back_to_home {
    font-size: 18px;
    font-weight: 400;
    width: 130px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    outline: none;
    border: 1px solid #840028;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #a60132;
    position: absolute;
    right: 100px;
    top: 10px;
}


.back_to_home:hover {
    background: #840028;
}