<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INTRATOOL тестирование</title>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<a class="back_to_home" th:href="@{/}" >Выбрать тест</a>
<form class="logout_btn" th:action="@{/logout}" method="post">
    <input class="logout" type="submit" value="Выйти"/>
</form>

<div class="actions">
    <a class="action" th:href="@{/users}">Редактирование пользователей</a>
    <a class="action" th:href="@{/topics}">Редактирование тем для теста</a>
    <a class="action" th:href="@{/questions}">Редактирование вопросов</a>
    <a class="action" th:href="@{/userresults}">Просмотр результатов теста</a>
</div>


</body>
</html>