<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INTRATOOL тестирование</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="topics_box_outer">
    <header><img th:src="@{/images/icon.png}" alt="INTRATOOL"></header>
    <div class="topics_box_inner">
        <header>
            <div class="topics_title">Выберите тему теста</div>
        </header>
        <div class="topics" th:each="topic : ${topics}">
            <!--<a class="topic" th:href="@{quiz/(topic_id=${topic.id})}" th:text="${topic.name}">TOPIC</a>-->
            <a class="topic" th:href="@{quiz2/(topic_id=${topic.id})}" th:text="${topic.name}">TOPIC</a>
        </div>
    </div>
</div>
</body>
</html>