<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INTRATOOL тестирование</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<form class="logout_btn" th:action="@{/logout}" method="post">
    <input class="logout" type="submit" value="Выйти"/>
</form>

<div class="outer_box">
    <header><img th:src="@{/images/icon.png}" alt="INTRATOOL"></header>
    <div class="inner_box">
        <header>
            <div class="topics_title">Выберите тему теста</div>
        </header>
        <div class="topics" th:each="topic : ${topics}">
            <a class="topic" th:href="@{quiz/(topic_id=${topic.id})}" th:text="${topic.name}">TOPIC</a>
        </div>
        <a class="topic" th:href="@{/admin}" th:if="${userRole.contains(admin)}" >Страница админа</a>
    </div>
</div>
</body>
</html>