<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INTRATOOL тестирование</title>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<form class="logout_btn" th:action="@{/logout}" method="post">
    <input class="logout" type="submit" value="Выйти"/>
</form>

<div class="outer_box">
    <div><img th:src="@{/images/icon.png}" alt="INTRATOOL"></div>
    <form method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="inner_box" th:id="|question_${qStat.index}|" th:each="question, qStat : ${questions}">
            <header>
                <div class="title" th:text="|Вопрос по теме: ${question.getTopic().getName()}|">Тест для проверки знаний
                    по металлорежущим
                    станкам
                </div>
                <div class="timer">
                    <div class="time_text">Осталось времени</div>
                    <div class="timer_sec"></div>
                </div>
            </header>

            <section>
                <div class="que_text"><span th:text="|${qStat.count}. ${question.getTitle()}|"></span></div>
                <div class="que_image"><img th:if="${question.getImage() != null}"
                        th:src="|@{/images/que_img/}${question.getImage()}|"></div>
                <div class="option_list">
                    <div class="option" th:each="option, oStat : ${question.getOptions()}">
                        <input type="radio" class="radio_btn" th:id="|${qStat.index}_${oStat.index}|"
                                th:name="|answer[${qStat.index}]|" th:value="${option}"/>
                        <label th:for="|${qStat.index}_${oStat.index}|" th:text="${option}"></label>
                    </div>
                </div>
            </section>

            <footer>
                <div class="total_que">
                    <span><b th:text="${qStat.count}"></b> из <b th:text="${qStat.size}"></b> вопросов</span>
                </div>
                <button type="button" th:id="|button_${qStat.index}|" class="next_btn" th:if="${not qStat.last}">
                    Следующий вопрос
                </button>
                <input type="submit" class="submit_btn" id="send_result" th:if="${qStat.last}" value="Завершить тест">
            </footer>
        </div>

    </form>

</div>

<script
        th:src="@{/js/quiz.js}">
</script>
</body>
</html>