<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INTRATOOL тестирование</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!-- quiz box-->
<div class="quiz_box_outer">
    <div><img th:src="@{/images/icon.png}" alt="INTRATOOL"></div>
    <form method="POST" class="quiz_box_inner">
        <header>
            <div class="title" th:text="${topic.getName()}">Тест для проверки знаний по металлорежущим станкам</div>
            <div class="timer">
                <div class="time_text">Осталось времени</div>
                <div class="timer_sec"></div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text"><span th:text="|${queNum}. ${questions[queNum].getTitle()}|"></span></div>
            <div class="que_image"></div>
            <div class="option_list" th:each="option, state : ${questions[queNum].getOptions()}">
                <input type="radio" th:id="${state.index}" name="option">
                <label th:for="${state.index}" th:text="${option}">1 вариант</label>
            </div>
        </section>

        <!-- quiz box footer -->
        <footer>
            <div class="total_que"></div>
            <input type="submit" class="next_btn" value="Следующий вопрос">
        </footer>
    </form>
</div>


</div>
<!--<script th:src="@{/js/questions.js}"></script>
<script th:inline="javascript">
    questions = [[${questions}]];
    console.log(questions);
</script>-->
<script th:src="@{/js/script.js}"></script>
</body>
</html>